<html lang="en">
<head>
    <title>OpenId Provider Mock</title>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="margin: auto; width: auto; height: auto;">
            <h1>OpenId Provider Mock</h1>
            <p>
                Discovery:<br />
                <a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/.well-known/openid-configuration</a>
            </p>
            <label>OpenId Flow:&nbsp;
                <select id="FlowSelector">
                    <option value="AuthCodeFlow" selected="selected">Authorization Code Flow</option>
                    <option value="AuthCodeFlowPkce">Authorization Code Flow with PKCE</option>
                    <option value="ImplicitFlow">Implicit Flow (deprecated)</option>
                    <option value="ImplicitFlowPost">Implicit Flow with Form Post</option>
                    <option value="HybridFlow">Hybrid Flow</option>
                    <option value="DeviceAuthorizationFlow">Device Authorization Flow</option>
                    <option value="ResourceOwnerPasswordFlow">Resource Owner Password Flow</option>
                </select>
            </label>
            <div id="FlowDescriptions">
                <div id="AuthCodeFlow" style="display: block">
                    <p>Endpoints:</p>
                    <ul>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code/authorize</a></li>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code/token</a></li>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code/me</a></li>
                    </ul>
                </div>
                <div id="AuthCodeFlowPkce" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code-pkce/authorize</a></li>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code-pkce/token</a></li>
                        <li><a href="javascript:void(0);" class="copyable">{{.UrlPrefix}}/auth-code-pkce/me</a></li>
                    </ul>
                </div>
                <div id="ImplicitFlow" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                    </ul>
                </div>
                <div id="ImplicitFlowPost" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                    </ul>
                </div>
                <div id="HybridFlow" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                    </ul>
                </div>
                <div id="DeviceAuthorizationFlow" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                    </ul>
                </div>
                <div id="ResourceOwnerPasswordFlow" style="display: none">
                    <p>Endpoints: (Not implemented)</p>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>