<html lang="en">
<head>
    <title>OpenId Provider Mock</title>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="margin: auto; width: auto; height: auto;">
            <h1>OpenId Provider Mock</h1>
            <div>
                <p>Please wait while we're redirecting you...</p>
            </div>
            <form id="RedirectForm" method="get" action="{{.Url}}" style="display: none">
                {{range .Data}}
                    <input type="hidden" name="{{.Name}}" value="{{.Value}}" />
                {{end}}
            </form>
        </div>
    </div>

    <script src="/static/submitRedirect.js"></script>
</body>
</html>